footer
  .container.clearfix
    .left.info
      p 
        | © 2014 - 2015 AKESO Eyecare Ltd. All rights reserved.
      p
        | 京 ICP 备 15054163 号
      p
        a(href="/about") 关于艾索
        |  ｜ 
        a 艾索新闻
        |  ｜ 
        a 加入艾索
        |  ｜ 
        a(href="/contact") 联系我们
    .right.info
      .actions
        a.action 艾索健康官方微博
        a.action 艾索健康官方微信
      img.qrcode(src="/assets/images/qrcode.jpg")


      
  #cnzz
    script(src="http://s95.cnzz.com/z_stat.php?id=1256781609&web_id=1256781609" language="Javascript")