nav.navbar
  .container
    .title-area
      a.logo
      .mobile-menu-button
        a(href="#")
          span Menu
    section.navbar-section
      .items.left.underline
        a.item(data-active="home" href="/")
          span 首页
        a.item.has-hover-menu(data-active="production" data-menu="" href="/detail")
          span
            | 产品
        a.item.disabled(data-active="health")
          span 健康
        a.item.disabled(data-active="service")
          span 服务
        .animated-line

      //.items.right
        a.item.disabled
          span EN
        a.item.btn.disabled
          span 登陆/注册
  section.hover-menu#prod-select
    .types.container
      - for(var i = 0; i < 4; i++)
        a.type
          img(src="/assets/images/demo-glass-type.png" alt="")
          | 狂拽炫酷款
