h3.title 眼健康服务中心
p
  | AKESO将于2016年于北京、上海、广州、深圳开设专属的眼健康会员管理中心。
  br
  |我们为艾索智能眼镜用户提供以下服务：
.img-group
  .img
    img(src="/assets/images/health/oval-8-oval-8-page-1.png", alt="")
  .text
    .main
      | AKESO 眼镜试戴服务
    .sub
      | 届时我们每款眼镜都将有三个型号供您选择，让您戴上真正符合自己脸型大小的镜架。
.img-group
  .img
    img(src="/assets/images/health/oval-8-oval-8-copy-page-1.png", alt="")
  .text
    .main
      | 专业级验光服务
    .sub
      | 不仅仅是查度数、测瞳距那么简单，特别针对视疲劳症状明显的用户，帮您排查原因，提出解决方案。

.img-group
  .img
    img(src="/assets/images/health/oval-8-oval-8-copy-2-page-1.png", alt="")
  .text
    .main
      | 每年一次的眼病筛查
    .sub
      | 使用顶级的眼科专业设备，为您的眼睛进行全面的检查，检查结果异常或可疑的用户，根据您的意愿，帮您预约专业的眼科医生进行排查、诊断和治疗。
.img-group
  .img
    img(src="/assets/images/health/oval-8-oval-8-copy-3-page-1.png", alt="")
  .text
    .main
      | 慢病管理
    .sub
      | 为您建立眼睛的健康管理档案，对确诊有眼部慢性疾病的用户进行定期回访，对您的慢病管理进行指导、提供咨询。
.img-group
  .img
    img(src="/assets/images/health/oval-8-oval-8-copy-4-page-1.png", alt="")
  .text
    .main
      | 家庭式服务
    .sub
      | 以上服务不只针对会员本人，同样适用于会员的父母、妻子和孩子，为您全家的眼部健康保驾护航。
p.sub
  | 您可以通过关注我们官方微信服务来了解更多关于眼健康服务的信息，
  br
  | 我们也会定期向您推送相关的眼健康服务和最专业的眼科医院给您。

.qrcode
  img(src="/assets/images/health/qrcode-for-gh-317-b-1-b-045-d-3-c-430@2x.png", alt="")
  | 艾索健康服务号

.qrcode
  img(src="/assets/images/health/qrcode-for-gh-879-ea-4652-a-31-1280@2x.png", alt="")
  | 艾索健康订阅号
.qrcode
  .inline
    img(src="/assets/images/health/bitmap@2x.png", alt="")
    span 艾索眼睛健康顾问
  img(src="/assets/images/health/group@2x.png", alt="")
  | 艾索健康顾问
