h3.title 医学验光

p 医学验光是根据患者的眼部检查、屈光状态、眼位、调节力、视功能、年龄、职业、用眼习惯等十几项诊断指标而给出的科学处方，直接关系到所配眼镜的准确性和舒适性，它需要丰富的医学、视光学知识，产生的效果不仅是看清物体，还对眼睛起到治疗和保健作用，让眼睛享受清晰和舒适。


h5 医学验光必须进行以下内容：
ol
  li 双眼调节平衡。
  li 检查调节力，
  li 检查主视眼是右眼还是左眼。
  li 检查眼位，有无内隐斜或外隐斜。
  li 处理好瞳孔距离及合理试镜。
p 不是所有验光师都能进行医学验光，必须具有深厚的临床眼科知识才行。验光必须使用高精密，高成本的综合验光仪，

h5 医学验光与普通验光区别：
p 我们通过配镜目的、配镜程序、配镜优点、配镜人员等方面详细了解一下它们的区别：

h5 配镜目的
.vs
  .player
    span.name 医学验光
    p
      | 提高视觉质量戴镜更舒适、缓解视疲劳;
      br
      | 阅读持久、控制近视发展；
      br
      | 区分真、假性近视及弱视。

  .player.loser
    span.name 普通验光
    p 看清楚。

h5 配镜目的
.vs
  .player
    .name
  .player
    .name

h5 配镜优点
.vs
  .player
    .name
  .player
    .name