h3.title 医学验光

p 如何验光？
p.sub 到专业的验光机构进行验光，我们首推医院的眼科，其次是大的连锁眼镜店，如同仁验光配镜、宝岛等等。将验光处方以照片形式私信到官微即可。

p 关于镜架不合适怎么办
p.sub 我们后期会提供试戴服务，满意再付全款。如果不满意，可以直接退货。如有特殊需要，我们可以提供私人订制版眼镜。

p 买你们眼镜的福利
p.sub 奢侈品眼镜的制作材料+低成本享受高质量的蔡司镜片+优质的眼健康管理服务+一次回收旧镜免费换新镜的机会

p 蔡司镜片介绍
p.sub 蔡司数码型镜片单独介绍
p.sub 
  a(href="http://www.zeiss.com.cn/vision-care/zh_cn/products-services/spectacle-lenses/digital-lenses.html") http://www.zeiss.com.cn/vision-care/zh_cn/products-services/spectacle-lenses/digital-lenses.html  

p.sub  蔡司非球单光镜片介绍
p.sub 
  a(href="http://www.zeiss.com.cn/vision-care/zh_cn/products-services/spectacle-lenses/single-vision-lenses/single-vision-as.html") http://www.zeiss.com.cn/vision-care/zh_cn/products-services/spectacle-lenses/single-vision-lenses/single-vision-as.html

p.sub 蔡司钻立方防蓝光镀膜介绍
p.sub 
  a(href="http://www.zeiss.com.cn/vision-care/zh_cn/products-services/coatings-and-coloured-lenses/coatings/duravision-blueprotect.html") http://www.zeiss.com.cn/vision-care/zh_cn/products-services/coatings-and-coloured-lenses/coatings/duravision-blueprotect.html   

p.sub 蔡司莲花膜介绍
p.sub 
  a(href="http://www.zeiss.com.cn/vision-care/zh_cn/products-services/coatings-and-coloured-lenses/coatings/lotutec.html") http://www.zeiss.com.cn/vision-care/zh_cn/products-services/coatings-and-coloured-lenses/coatings/lotutec.html  


p 眼镜的功能
p.sub 我们首先是一副好眼镜，然后附加智能眼镜腿。具体的功能就是帮助用户改善不良用眼习惯，形成良好习惯，监测干眼、视疲劳、颈疲劳，在形成疲劳之前进行干预，进行眼健康的管理。

p 女款什么时候出
p.sub 12月会开放女款预订，女款也是非常值得期待的，绝对不会让大家失望，请您关注我们官方微博的状态更新。

p 镜片介绍
p.sub 艾索眼健康管家精心为您挑选世界顶级光学镜片的标准：
ol
  li 更优的光学设计；
  li 更安全、舒适的镜片材料；
  li 精工级别的生产工艺及质量控制；
  li 拥有尖端的技术、创新、精确和丰富的经验的生产厂家。因为专业，所以信赖！