$infoBarHeight: 58px;
body.orders.new {
	&>.container {
		position: relative;
		width: 100%;
		.step {
			position: relative;
			//width: 100%;
			
			.info-bar {
				@extend .clearfix;
				transition: bottom .4s;
				opacity: .8;
				width: 100%;
				background-color: #f2f2f5;
				height: $infoBarHeight;
				position: fixed;
				bottom: 0;
				left: 0;
				box-shadow: 0px 0px 6px 0px rgba(46, 48, 81, 0.19);
				z-index: 1000;

				.right {
					float: right;
					&, * {
						display: inline-block;
						vertical-align: middle;

					}
				}

				.button {
					$btnHeight: 40px;
					height: 40px;
					text-align: center;
					font-size: 18px;
					line-height: 24px;
					padding: 8px 0;
					margin-top: (($infoBarHeight - $btnHeight) / 2);
				}
				
				
				.price {
					float: left;
					$priceHeight: 32px;
					display: inline-block;
					vertical-align: middle;

					&.priceChange {
						animation-name: changingPrice;
						animation-duration: 800ms;
						animation-timing-function: ease;
						animation-iteration-count: 1;
					}
					span {
						font-size: 14px;
						color: #999;
					}
					color: $red;
					font-size: 28px;
					line-height: $priceHeight;
					padding: (($infoBarHeight - $priceHeight) / 2) 0;
				}
			}

			.content {
				transition: transform .4s;
				width: 90%;
				margin: 0 auto;
				padding-top: 25px;
				padding-bottom: 80px;
				.title {
					margin: 0;
					padding: 0;
					font-size: 24px;
					line-height: 28px;
					color: $black;
					vertical-align: middle;
					width: 100%;
					position: relative;
					span {
						font-size: 16px;
						box-sizing: border-box;
						vertical-align: middle;
						padding: 4px 10px;
						width: 28px;
						line-height: 20px;
						border-radius: 10000px;
						border: 1px solid $black;
						margin-right: 15px;
					}

				}

				&#step-1 {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					.type {
						width: 47%;
					}
				}

				.type {
					padding-top: 0px;
					padding-bottom: 30px;
					margin-top: 30px;
					border-bottom: 1px solid #eee;
					border: 1px solid rgba(0,0,0,0);
					border-radius: 5px;
					transition: all .3s;
					position: relative;

					.img {
						border-radius: 5px 5px 0 0;
						position: relative;
						.real {
							top: 30px;
							left: 0;
							width: 100%;
							position: absolute;
							opacity: 0;
							border-radius: 5px;
							transition: opacity .3s;
						}
						.origin {
							padding-top: 30px;
						}
					}

					

					&:after {
						display: block;
						content: ' ';
						height: 100%;
						position: absolute;
						bottom: -15px;
						left: 0;
						height: 1px;
						background-color: $black;
					}

					&.mute {
						opacity: .2;

						&:hover {
							opacity: 1;
						}
					}



					&:hover {
						border: 1px solid #eee;
						cursor: pointer;

						.real {
							opacity: 1;
						}
					}

					&:active, &.active, &.selected {
						border: 1px solid $blue;
						box-shadow: 0 0 2px $blue;

						.real {
							opacity: 1;
						}
					}

					img {
						margin: 0 auto;
						display: block;
						margin-top: -15px;
						width: 100%;
						max-width: 640px;
						z-index: 10;
					}
					.type-name {
						margin-top: 55px;
						width: 100%;
						height: 60px;
						text-align: center;
						font-size: 24px;
						line-height: 26px;
						color: $black;
						z-index: 100;
						background-color: transparent;
						transition: all .3s;

						.des {
							font-size: 16px;
							line-height: 26px;
							margin: 0;
							text-align: center;
							color: #9b9b9b;
						}
						span {
							font-size: 18px;
							line-height: 26px;
							color: $black;
							display: block;
							padding-top: 0;
						}
					}

				}
			}

			#step-2 {
				transition: transform .6s;
				padding-top: 80px;
				&.show {
					//transform: translateY(-100%);
				}
				.des {
					display: none;
					&.show {
						display: block;
					}

					font-size: 14px;
					color: #8e8e8e;
					margin-bottom: 20px;

					b {
						color: $blue;
					}

				}
				.form {
					padding-top: 35px;
					width: 500px;
					margin: 0 auto;

					img {
						width: 100%;
						margin-top: 15px;
						margin-bottom: 15px;
					}

					.text {
						display: block;
						font-size: 18px;
					}
				}
			}
		}
	}

	.step.onStepTwo {
		.info-bar {
			bottom: calc(100% - 80px - 58px);
			.right {
				float: left;
			}
			.price {
				float: right;
			}
		}
		.content#step-1 {
			transform: translateY(-100%);
		}
	}
}

.hide {
	display: none !important;
}

.submit-success {
	width: 520px;
	margin: 0 auto;
	margin-bottom: 50px;
	box-shadow: 0 0px 12px #eee;
	border-radius: 15px;
	margin-top: 10%;
	padding: 60px 30px;
	.green {
		color: $green !important;
	}

	.title {
		font-weight: 200;
		font-size: 24px;
		margin: 0;
		color: $black;
	}

	.sub-title {
		margin-top: 45px;
		font-size: 18px;
		font-weight: 200;
		&.mute  {
			color: #999;
		}
	}
	.follow {
		margin-top: 60px;

		img {
			width: 80px;
			display: block;
			margin: 0 auto;
			margin-bottom: 8px;
		}
		a {
			text-align: center;
			color: $blue;
			font-size: 16px;
			padding-bottom: 80px;
		}
	}
}

@keyframes 'changingPrice' {
	0% {
		transform: scale(1);
		color: $red;
	}
	50% {
		transform: scale(1.3);
		color: red;
	}
	100% {
		transform: scale(1);
		color: $red;
	}
}

@media (max-width: 600px) {
	body.orders.new {
		&>.container {
			.step {
				#step-1 {
					.type {
						width: 100% !important;
					}
				}
				#step-2 {
					.form {
						width: 100%;
					}
				}
			}
		}
	}

	.step.onStepTwo {
		.info-bar {
			bottom: calc(100% - 60px - 58px) !important;
		}
	}

	.submit-success {
		width: 100%;
		margin: 0;
		margin-top: 0;
		box-shadow: none;
		.sub-title {
			font-size: 16px;
		}
	}
}