$infoBarHeight: 58px;
body.orders.new {
	&>.container {
		position: relative;
		width: 100%;
		.step {
			position: relative;
			width: 100%;
			height: calc(100vh - 80px);
			
			.info-bar {
				@extend .clearfix;
				transition: bottom .4s;
				opacity: .8;
				width: 100%;
				background-color: #f2f2f5;
				height: $infoBarHeight;
				position: fixed;
				bottom: 0;
				left: 0;
				box-shadow: 0px 0px 6px 0px rgba(46, 48, 81, 0.19);
				z-index: 1000;

				.right {
					float: right;
					&, * {
						display: inline-block;
						vertical-align: middle;

					}
				}

				.button {
					$btnHeight: 40px;
					height: 40px;
					text-align: center;
					font-size: 18px;
					line-height: 24px;
					padding: 8px 0;
					margin-top: (($infoBarHeight - $btnHeight) / 2);
				}
				
				
				.price {
					float: left;
					$priceHeight: 32px;
					display: inline-block;
					vertical-align: middle;

					&.priceChange {
						animation-name: changingPrice;
						animation-duration: 800ms;
						animation-timing-function: ease;
						animation-iteration-count: 1;
					}
					span {
						font-size: 14px;
						color: #999;
					}
					color: $red;
					font-size: 28px;
					line-height: $priceHeight;
					padding: (($infoBarHeight - $priceHeight) / 2) 0;
				}
			}

			.content {
				transition: transform .4s;
				width: 90%;
				margin: 0 auto;
				padding-top: 25px;
				padding-bottom: 80px;
				.title {
					margin: 0;
					padding: 0;
					font-size: 24px;
					line-height: 28px;
					color: $black;
					vertical-align: middle;
					width: 100%;
					position: relative;
					span {
						font-size: 16px;
						box-sizing: border-box;
						vertical-align: middle;
						padding: 4px 10px;
						width: 28px;
						line-height: 20px;
						border-radius: 10000px;
						border: 1px solid $black;
						margin-right: 15px;
					}

					&:after {
						display: block;
						content: ' ';
						width: 100%;
						position: absolute;
						bottom: -10px;
						left: 0;
						opacity: .5;
						height: 1px;
						border-bottom: 1px dashed $black;
						opacity: .7; 
					}
				}

				.type {
					padding-top: 80px;
					position: relative;
					width: 85%;
					margin: 0 auto;
					margin-bottom: 30px;
					margin-top: 15px;

					&:after {
						display: block;
						content: ' ';
						height: 100%;
						position: absolute;
						bottom: 0;
						height: 1px;
						border: 1px solid #eee;
					}

					img {
						margin-top: -15px;
						width: 100%;
						z-index: 10;
					}
					.type-name {
						position: absolute;
						top:30px;
						left: 0;
						width: 100%;
						text-align: center;
						font-size: 24px;
						color: $black;
						z-index: 100;
					}
					.colors {
						margin-top: 20px;
						display: flex;
						@extend .clearfix;
						justify-content: center;
						.color {
							width: 5%;
							margin: 0 10px;
							width: 80px;
							height: 80px;
							border-radius: 5px;
							border: 1px solid #eee;
							padding: 9px 0;

							&:hover, &:active, &.selected{
								border-color: $blue;
								cursor: pointer;
							}

							&.mute {
								opacity: .2;
							}

							img {
								width: 40px;
								display: block;
								margin: 0 auto;
								border-radius: 10000px;
								margin-bottom: 7px;
							}
							text-align: center;
							font-size: 14px;
							color: $black;
						}
					}
				}
			}
		}
	}

	.step.onStepTwo {
		.info-bar {
			bottom: calc(100% - 80px - 58px);
			.right {
				float: left;
			}
			.price {
				float: right;
			}
		}
		.content#step-1 {
			transform: translateY(-100%);
		}
	}
}

@keyframes 'changingPrice' {
	0% {
		transform: scale(1);
		color: $red;
	}
	50% {
		transform: scale(1.3);
		color: red;
	}
	100% {
		transform: scale(1);
		color: $red;
	}
}