#productionHeroArea {
	@extend .clearfix;
	padding: 70px 0;
	text-align: center;
	width: 100%;
	position: relative;
	background-color: #fff;
	//background-attachment: fixed;
	img {
		width: 65%;
		margin: 0 auto;
	}

	.title {
		font-size: 46px;
		line-height: 1.2;
		margin: 0;
		margin-top: 36px;
		margin-bottom: 30px;
		font-weight: normal;
		position: relative;
	}

	.sub-title {
		margin: 0;
		position: relative;
		margin-top: 16px;
		font-size: 24px;
		color: $second_level_black;
		font-weight: normal;
		margin-bottom: 32px;
		
	}
	.notice {
		display: block;
		font-size: 12px;
		color: #666;
		opacity: .7;
	}

	.actions {
		text-align: center;
		position: relative;
		margin-top: 60px;
	}

	.button {
		display: block;
		margin: 0 auto 13px auto;
	}

	.version {
		height: 36px;
	}
}



@media (min-width: 1280px) {


	.panel {
		.video {
			width: 400px !important;
		}
	}
}

@media (min-width: 965px) {


	.panel {
		.video {
			width: 300px;
		}
	}
}

.panel {
	background-color: white;
	width: 100%;
	padding: 50px 0;

	&.videos {
		.container {
			display: flex;
			justify-content: space-around;
			
			.video {
				text-align: center;
				width: 300px;

				&.disabled {
					opacity: .4;
				}
				img {
					display: block;
					width: 100%;
					border-radius: 5px;
					margin-bottom: 20px;
				}
				color: #0c1534;
				font-size: 20px;


			}
		}

	}
}