body.productionDetail {
	background-color: #ebecf1;
	nav.navbar {
		position: relative;
	}
	.page {
		font-size: 0;
		.detail-nav {
			height: 55px;
			background-color: #fff;
			box-shadow: 0px 0px 6px 0px rgba(46, 48, 81, 0.19);
			opacity: .8;
			z-index: 1000;

			.left {
				float: left;
				font-size: 24px;
				line-height: 27px;
				padding: 14px 0;
				font-weight: 100;
			}
			
			.items {
				height: 100%;
				padding: 15px;
				.item {
					padding: 0 15px;
					color: #121b3c;
					font-size: 14px;
					line-height: 25px;
					text-shadow: none;
					border-color: #121b3c;

					&.button {
						text-align: center;
						color: white !important;
						border: none;
						span {
							color: white;
							border: none !important;
						}
					}

					&:hover, &:active {
						span {
							border-bottom: 1px solid #121b3c;
						}
					}
				}
			}
		}
	}

	.detail-page {
		width: 100%;
		min-height: 500px;

		.text {
			.version, .title {
				color: #0c1534;
				font-size: 42px;
				text-align: center;
			}

			.title {
				font-weight: 400;
				margin:12px 0;

			}

			.version {
				font-weight: 100;
				font-size: 24px;
				text-align: center;
				img {
					height: 48px;
				}
			}

			.sub-title {
				color: #666666;
				font-size: 18px;
				font-weight: 300;
				text-align: center;
				line-height: 28px;
			}
		}

		&>div[id^="page-"] {
			width: 100%;
		}

		#page-1 {
			@extend .clearfix;
			min-height: calc(100vh - 135px);
			background-color: #fff;
			min-height: 600px;
			
			.text {
				p {
					margin: .5em 0;
				}
				width: 70%;
				text-align: center;
				padding-top: 10%;
				margin: 0 auto;

				img {
					width: 100%;
				}

				.glass {
					margin: 30px auto;
				}

				.timeago {
					font-size: 14px;
					line-height: 2;
				}
				padding-bottom: 40px;
			}
		}

		#page-2 {
			@extend .clearfix;
			background-color: #f4f4f6;
			min-height: 100vh;
			background-image: url('/assets/images/detail/index_2_07_03.png');
			background-repeat: no-repeat;
			background-position: 50% 85%;
			background-size: 70% auto;
			padding-top: 0%;
			
			.text {
				margin: 0 auto;
				padding-top: 10%;
				width: 60%;
				.title, .sub-title {
					text-align: center;
				}
			}
		}

		#page-7, #page-8 {
			@extend .clearfix;
			background-color: #f4f4f6;
			min-height: 100vh;
			padding-top: 0%;

			a {
				color: $blue !important;
				font-size: 24px !important;
				margin-top: 30px !important;
				border-sizing: border-box;
				display: block;
			}

			.left {
				float: left;
				* {text-align: left !important;}
			}

			.right {
				float: right;
				* {text-align: left !important;}

			}
			
			.text {
				margin: 0 auto;
				padding-top: 10%;
				width: 40%;
				img {
					width: 100%;
					display: block;
					margin-bottom: 15px;
				}
				p {
					margin: .5em 0;
				}
			}
		}

		#page-7 {
			background-color: #fff;
			.right {
				padding-top: 150px;
			}
		}

		#page-8 {
			.right {
				padding-top: 15%;
			}
		}

		#page-3, #page-5 {
			height: 100vh;
			background-color: #fff;
			
			background-repeat: no-repeat;
			
			padding-top: 7%;

			.text {
				width: 70%;
				margin: 0 auto;
			}
		}

		#page-3 {
			background-image: url('/assets/images/detail/index_2_11.jpg');
			background-size: 30% auto;
			background-position: 50% 100%;
		}

		#page-5 {
			background-image: url('/assets/images/detail/index-20151115-3_07.jpg');
			background-size: 60% auto;
			background-position: 50% 84%;
			.text {
				width: 60%;
			}
		}


		#page-6{
			min-height: 100vh;
			@include linear-gradient-with-image('/assets/images/detail/people_02.png',to bottom, rgb(230, 230,230), #fff);
			background-repeat: no-repeat;
			background-position: 110% 100%, 0 0;
			background-size: 60% auto, cover;
			padding-top: 7%;

			.text {
				width: 40%;
				margin: 0 8%;
				padding-top: 10%;

				* {
					text-align: left !important;
				}
			}
		}

		#page-4 {
			min-height: 100vh;
			@include linear-gradient-with-image('/assets/images/detail/1_02.png',to bottom, rgb(230, 230,230), #f9f9f9);
			background-repeat: no-repeat;
			background-position: 100% 0, 0 0;
			//background-size: 60% auto, cover;
			padding-top: 7%;

			.text {
				width: 40%;
				margin: 0 8%;
				padding-bottom: 40px;

				* {
					text-align: left !important;
				}
			}

			.icons {
				display: flex;
				justify-content: space-around;
				width: 100%;
				margin-top: 30px;
				.icon {
					text-align: center !important;
					font-size: 14px;
					width: 26%;
					img {
						width: 100%;
						display: block;
						margin-bottom: 10px;
					    background-color: rgba(255,255,255,.8);
					    border-radius: 8px;
					}
				}
			}
		}
	}
}


@media only screen and (min-width: 300px) and (max-width: 600px) {
	body.productionDetail {
		.text {
			width: 90% !important;
			margin: 0 auto;
			text-align: left;
			.title {
				font-size: 21px !important;
				text-align: left !important;
			}
			.sub-title {
				font-size: 16px !important;
				text-align: left !important;

			}
			.version {
				text-align: left !important;
			}
		}
		

		#page-1 {
			.sub-title {
				text-align: left !important;
			}
		}

		#page-2 {
			padding-top: 20% !important;
			background-size:90% auto !important;
			background-position: 50% 75% !important;
		}
		#page-3 {
			padding-top: 20% !important;
			background-size: 100% auto !important;
		}
		#page-4 {
			background-position: 100% 100%, 0 0 !important;
			background-size: auto 60%, cover !important;
			padding-top: 15% !important;
			.text {
				margin: 0 auto !important;
			}
		}

		#page-5 {
			padding-top: 20% !important;
			background-size: 90% auto !important;
			background-position: 50% 75% !important;

			.text {
				width: 90% !important;
				margin: 0 auto !important;
			}
		}

		#page-6 {
			padding-top: 10% !important;
			background-size: 86% auto, cover !important;
			background-position: 130% 100%, 0 0 !important;
			.text {
				width: 80% !important;
				margin: 0 5% !important;
			}
		}

		#page-7, #page-8 {
			padding-top: 15% !important;
			.left, .right {
				float: none !important;
				margin-bottom: 30px !important;
			}

			.right {
				padding-top: 0 !important;
			}
		}

	}
}