body.story {
	.container.stories {
		padding-top: 50px;
	}

	.stories {
		.story {
			width: 100%;
			display: block;
			border-radius: 5px;
			margin-bottom: 35px;
			img {
				width: 100%;
			}
		}
	}

	.story {
		.header {
			position: relative;
			padding-top: 27px;
			padding-bottom: 14px;
			border-bottom: 1px solid #f0f0f0;
			margin-bottom: 60px;
			.title {
				font-size: 24px;
				display: inline-block;
				color: $black;
			}

			.action {
				display: inline-block;
				vertical-align: middle;
				opacity: .5;
				transition: opacity .4s;
				padding-top: 10px;

				&:hover {
					opacity: 1;
					cursor: pointer;
				}
				span {
					display: inline-block;
					vertical-align: middle;
					font-size: 18px;
					line-height: 1;
					font-weight: 200;
					padding-right: 6px;
				}
				i {
					display: inline-block;
					vertical-align: middle;
					font-size: 18px;
				}

				.mobile {
					display: none;
				}
			}

			.list {
				z-index: 1000;
				position: absolute;
				top: 100%;
				height: 260px;
				width: 100%;
				background-color: rgba(255,255,255,.9);
				display: none;
				justify-content: space-between;
				opacity: 0;
				transition: opacity .6s;


				&.show {
					display: flex;
				}

				.item {
					width: 32%;
					padding-top: 24px;
					text-align: center;
					img {
						width: 100%;
						display: block;
						margin-bottom: 22px;
					}
					span {
						font-size: 14px;
						line-height: 18px;
						color: $black;
					}
				}
			}
		}

		article {
			padding-bottom: 60px;
			h1, h2 {
				font-size: 18px;
				font-weight: bolder;
				color: $black;
			}

			b {
				font-weight: bolder;
				text-decoration: underline;
			}

			h3 {
				font-size: 16px;
				font-weight: bolder;
				padding-top: 0;
				margin: 0;
			}

			p {
				font-size: 16px;
				font-weight: normal;
				margin: 0;
				opacity: .7;
			}

			p+h3 {
				margin-top: 20px;
			}

			p+h2 {
				margin-top: 40px;
			}
		}
	}
}

@media (max-width: 600px) {
	body.story {
		.story {
			.header {
				margin-bottom: 20px;
				padding-top: 10px;
				.title {
					font-size: 20px;
					text-align: center;
					display: block;
				}

				.action {
					font-size: 18px;
					float: none !important;
					display: block;
					text-align: center;
					margin-bottom: 10px;
					span {
						font-size: 14px;
					}

					i {
						font-size: 14px;
						display: none;
					}

					.mobile {
						display: block;
						i {
							display: block;
						}
					}
				}
				.list {
					height: auto;
					padding-bottom: 30px;
					&.show {
						display: block;
					}

					.item {
						width: 90%;
						display: block;
						margin: 0 auto;
					}
				}
			}
		}
	}
}