.container {
	display: block;
	margin: 0 auto;
	z-index: 100;

	&.small {
		width: 420px;
	}

	&.footer-in-page {
		min-height: 500px;
		height: calc(100vh - 80px - 126px);
	}
}

.margin-nav {
	margin-top: 80px;
}



@media (max-width: 964px) {
	.container {
		width: 90%;
	}
}

@media (min-width: 965px) {
	.container {
		width: 960px;
	}
}

@media (min-width: 1280px) {
	.container {
		width: 1280px;
	}
}

.floated {
	&.right {
		float: right;
	}
	&.left {
		float: left;
	}
}
