h3.title 售后服务
p 7天无理由退货
p.sub 若您选择 7 天内无理由退货（不包含第三方平台销售的商品），请首先确认，商品没有人为损坏，外观没有使用中留下的划痕和磕碰痕迹。确认完毕后，请将商品、外包装、附件、说明书及保修卡一起寄回。在收到退件，经核实无误后，可为您办理 7 天内无理由退货及退款。产生的运费将由您来承担；

p 三包服务
p.sub 为了保障您的“包修、包换、包退”（简称“三包”）权益，请您在购买艾索健康产品后妥善保管三包凭证和有效购买发票。
