h3.title 常见问题

h5 关于眼镜

question 和普通眼镜区别在哪里？
answer 我们的眼镜首先是一副好眼镜，选料、设计、做工都精益求精，和普通眼镜最大的区别在于有一条可拆卸的智能眼镜腿。


question 智能腿有什么功能？
answer 智能眼镜腿具体的功能在于监测用户眼周的环境和用眼情况，根据我们自主开发的算法，为用户提供干眼、视疲劳、颈疲劳等眼部数据，帮助用户改善不良用眼习惯。在形成不适之前给予干预，延缓不适发生的时间或防止不适发生。已经有干眼、视疲劳、颈疲劳等不适的用户，通过干预，逐渐减轻不适。

question 镜架的智能硬件支持什么系统？
answer 我们的APP支持安卓和IOS两个操作系统。

question 智能腿能防水吗？
answer 智能腿是不防水的，但是智能腿是可拆卸的，当您没有监测用眼情况的需求时，可以把智能腿拆卸下来，装上非智能腿，这样的搭配可以满足您涉水时的需求。

question 近视度数多少可以配？
answer 近视度数800度以上或散光度数200度以上的用户需要定制镜片，价格会略有改动，您可以私信官方微博或艾索健康顾问进行咨询，具体联系方式在官网的联系我们页面可以获取。不超过以上度数的用户都可以直接按官网价格选购镜片。

question 有女款镜架吗？
answer 目前官网的款式均是为男性脸型特殊设计的款式，后续我们会有女款眼镜推出，请您关注我们的官网和官方微博的动态更新。

h5 关于验光
question 推荐验光方式
answer 验光的方式我们建议用户进行医学验光，您选择镜架及镜片后，在确认订单详情页面点击医学验光，有关于医学验光的内容、与普通验光的区别等科普内容。

question 推荐验光地点
answer 我们建议用户到有医学验光设备和资格的医院或眼镜连锁店进行验光。

question 验光处方内容
answer 您选择镜架及镜片后，在确认订单详情页面点击验光处方，有关于验光处方的具体介绍。

question 验光处方提供途径
answer 您可以将验光处方照片私信到我们的官方微博、将验光处方以照片形式邮件到官方邮箱、微信联系我们的艾索健康顾问，具体联系方式在官网的联系我们页面可以获取。

h5 关于服务流程
question 我已预订，下一步做什么？
answer 
  | 如您选购了镜架和蔡司镜片，建议您进行医学验光，将验光处方提供给我们，具体内容详见关于验光。
  br
  | 如您只单独选购了镜架，请您耐心等待短信和邮箱的定金付款通知。

question 什么时候发货？
answer 首批预定用户的发货周期较长，预计在2016年元旦前后发货，正式发售后发货周期会缩短。

question 镜架戴上不合适怎么办？有试戴服务吗？
answer 在发货之前，我们会收取少量定金，提供镜架邮寄试戴服务。如您佩戴后不满意，将镜架寄回给我们后，定金全额退回。如您未选购官网的镜片且对镜架满意，直接到官网支付余款即可。

question 试戴后满意如何配镜片？
answer 如您选购了官网镜片且对镜架满意，到官网支付余款并将镜架寄回，我们会为您寄出配有蔡司镜片的眼镜。以上流程中产生的物流费用由艾索承担。

question 首批预订用户有何福利？
answer 预订首批AKESO-1成长版眼镜的用户，可在半年后免费更换AKESO-1正式版眼镜的镜架，正式版镜架将在版型设计和智能硬件方面都做出更新。

question 有实体店吗？
answer 目前未开设。我们将于2016年于北京、上海、广州、深圳开设专属的眼健康会员管理中心，提供AKESO眼镜的试戴、专业级的医学验光、眼病筛查、慢病管理等服务。 