.form
  .title 预订信息
  input#name(type="text" placeholder="姓名")
  input#mobile(type="tel" placeholder="手机")
  input#email(type="email" placeholder="电子邮箱")
  input#province(type="text" placeholder="所在省份")
  .input-group
    input#code(type="text" placeholder="手机验证码")
    a.button.blue#sendCode 发送验证码
  .actions
    a.button.blue.full-width.inverted#submit(disabled="disabled") 提交订单
