extends ../layouts/responsive

block title
  title 订单提交成功 | AKESO        

block content
  .container.margin-nav.footer-in-page(style="margin-bottom:120px;")
    .submit-success
      .aligned.center
        h1.title.green(style="font-size:140px;margin-bottom:0;")
          +fa('check-circle-o')
        h1.title.green#t1
          | 提交成功
        h3.sub-title
          | 恭喜您，已成功预订首批精心为您打造的AKESO - 1艾索眼健康镜架。
          br
          | 请注意查收预订成功短信。
        h3.sub-title.mute
          | 关爱您的眼睛，
          br
          | 和我们一起创造更健康快乐的生活！
        .follow
          img(src="/assets/images/bitmap@2x.png")
          a(href="http://weibo.com/akesoeyecare") 关注我们