extends ../layouts/responsive

block title
  title 预定产品 | AKESO

block requirejs
  script
    :coffee-script
      requirejs ['/assets/js/application.js'], (app) ->
        requirejs ['app/registion']
        

block content
  .container.margin-nav.footer-in-page
    .submit-success
      .aligned.center
        h1.title.green(style="font-size:140px;margin-bottom:0;")
          +fa('check-circle-o')
        h1.green.title#t1
          | 提交成功
        h3.sub-title
          | 我们的工作人员将于2日内联系您，
          br
          | 并为您提供后续预订服务。
        .follow
          img(src="/assets/images/bitmap@2x.png")
          a(href="http://weibo.com/akesoeyecare") 关注我们