@charset "UTF-8";
.container {
  display: block;
  margin: 0 auto; }

@media (max-width: 964px) {
  .container {
    width: 100%; } }
@media (min-width: 965px) {
  .container {
    width: 960px; } }
@media (min-width: 1280px) {
  .container {
    width: 1280px; } }
/*
	Author: Cassius Chen
	Created At: 2015-10-30
*/
nav.navbar {
  background-color: #121b3c;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 0; }
  nav.navbar .title-area {
    display: inline-block;
    vertical-align: middle; }
    nav.navbar .title-area .logo {
      height: 36px;
      width: 162px;
      display: inline-block;
      background-image: url(/assets/images/logo-white.svg);
      -webkit-background-size: contain;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }

@media (min-width: 640px) {
  nav.navbar .mobile-menu-button {
    display: none; }
  nav.navbar .navbar-section {
    height: 100%;
    padding: 28px 0;
    width: -webkit-calc(100% - 162px);
    width: calc(100% - 162px);
    display: inline-block;
    vertical-align: middle; }
    nav.navbar .navbar-section .items {
      position: relative;
      font-size: 0;
      padding: 0 10px; }
      nav.navbar .navbar-section .items.left {
        float: left; }
      nav.navbar .navbar-section .items.right {
        float: right; }
      nav.navbar .navbar-section .items .item {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 0 40px;
        margin: 0;
        font-size: 16px;
        opacity: .7; }
        nav.navbar .navbar-section .items .item:hover, nav.navbar .navbar-section .items .item.active, nav.navbar .navbar-section .items .item:active {
          opacity: 1;
          cursor: pointer; }
          nav.navbar .navbar-section .items .item:hover span, nav.navbar .navbar-section .items .item.active span, nav.navbar .navbar-section .items .item:active span {
            border-bottom: 2px solid #fff; }
        nav.navbar .navbar-section .items .item span {
          padding: 6px 0; }
        nav.navbar .navbar-section .items .item.btn {
          padding: 0 25px; }
          nav.navbar .navbar-section .items .item.btn span {
            background-color: rgba(255, 255, 255, 0.2);
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding: 5px 15px; }
          nav.navbar .navbar-section .items .item.btn:hover span, nav.navbar .navbar-section .items .item.btn:active span, nav.navbar .navbar-section .items .item.btn.active span {
            border-bottom: none; }
      nav.navbar .navbar-section .items.underline .item:hover span, nav.navbar .navbar-section .items.underline .item:active span, nav.navbar .navbar-section .items.underline .item.active span {
        border-bottom: none !important; }
      nav.navbar .navbar-section .items.underline .animated-line {
        display: block;
        margin: 0;
        position: absolute;
        bottom: -6px;
        height: 2px;
        background-color: #fff; } }
body, html {
  margin: 0;
  padding: 0;
  -webkit-locale: zh-Hans-CN;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  min-width: 100%;
  min-height: 100%;
  width: 100%; }

* {
  -webkit-transition: all .28s ease-in;
  transition: all .28s ease-in;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
  font-family: "Lato Regular", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif; }

a, a:link, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

input[type="submit"], input[type="reset"], input[type="button"], button {
  -webkit-appearance: none;
  /*去掉苹果的默认UI来渲染按钮*/ }

/*# sourceMappingURL=application.css.map */
