@import "var";
@import "components";

body, html {
	margin: 0;
	padding: 0;
	-webkit-locale: zh-Hans-CN;
	-webkit-tap-highlight-color: transparent;
	text-size-adjust: 100%;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	font-size: 0;
}

* {
	//transition: all .28s ease-in;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: none !important;
	font-family: "Lato Regular", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

a, a:link, a:hover, a:active {
	text-decoration: none;
	color: inherit;
	transition: all .2s ease-in;

	&.disabled>span {
		border-bottom: none !important;
	}
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{height:1%;}

input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; /*去掉苹果的默认UI来渲染按钮*/}

@import 'pages';