extends ../layouts/responsive

block title
  title 镜片的故事 | AKESO 

block requirejs
  script
    | requirejs(['/assets/js/application.js'], function(app){
    |  requirejs(['app/story']);
    | });

block content
  .container.margin-nav.story
    .header
      a.action.floated.right
        span 故事
        +fa("th-large")
        .mobile
          +fa("sort-down")
      .title 追求最佳的佩戴舒适性及视觉质量
      .list
          a.item(href="/stories/better-feel")
            img(src="/assets/images/stories/rectangle-33.png")
            span 追求最佳的佩戴
          a.item(href="/stories/best-skill")
            img(src="/assets/images/stories/rectangle-33-copy.png")
            span 追求最极致的工艺
          a.item(href="/stories/story-of-optic")
            img(src="/assets/images/stories/rectangle-33-copy-2.png")
            span 顶级的光学镜片
    article
      img.full-width(src="/assets/images/stories/rectangle-33.png", alt="")
      h1 我们的目标：追求最佳的佩戴舒适性及视觉质量
      p 您是否知道眼镜架及镜片的配适错误会导致人眼光学性能下降 40%，诱发视觉疲劳症状的风险上升90%，以及诱发某些如青光眼，近视度数进展等更严重的结果？
      p 眼镜及镜片只有与<b>您脸部的形状</b>、<b>您眼睛的位置</b>、<b>您头部的倾度以及在您鼻子上的位置相匹配</b>，才会实现轻松的视力。
      p AKESO视光工程学的设计，可以最大限度的保证舒适度及镜架和镜片位置的精度，确保您新的精密镜片能够提供 100% 的性能，有效减少视疲劳症状。

      h3 后期眼健康中心及akeso视光师培训:
      p
        | 调配镜架：
        a(href="http://www.zeiss.com.cn/vision-care/zh_cn/eye-care-professionals/optical-knowledge/for-the-expert/fitting-zeiss-lenses.html") http://www.zeiss.com.cn/vision-care/zh_cn/eye-care-professionals/optical-knowledge/for-the-expert/fitting-zeiss-lenses.html
      p 
        | 处方处理:
        a(href="http://www.zeiss.com.cn/vision-care/zh_cn/eye-care-professionals/optical-knowledgzzzze/for-the-expert/prescribed-and-measured-powers.html") http://www.zeiss.com.cn/vision-care/zh_cn/eye-care-professionals/optical-knowledgzzzze/for-the-expert/prescribed-and-measured-powers.html




