extends ../layouts/responsive

block title
  title 故事 | AKESO 

block requirejs
  script
    | requirejs(['/assets/js/application.js'], function(app){
    |  requirejs(['app/story']);
    | });

block content
  .container.margin-nav.stories
    a.story(href="/stories/better-feel")
      img(src=CDN("/assets/images/stories/rectangle-33.png"))
    a.story(href="/stories/best-skill")
      img(src=CDN("/assets/images/stories/rectangle-33-copy.png"))
    a.story(href="/stories/story-of-optic")
      img(src=CDN("/assets/images/stories/rectangle-33-copy-2.png"))