extends ../layouts/responsive

block title
  title 镜片的故事 | AKESO 

block requirejs
  script
    | requirejs(['/assets/js/application.js'], function(app){
    |  requirejs(['app/story']);
    | });

block content
  .container.margin-nav.story
    .header
      a.action.floated.right
        span 故事
        +fa("th-large")
        .mobile
          +fa("sort-down")
      .title 追求最佳的佩戴舒适性及视觉质量
      .list
          a.item(href="/stories/better-feel")
            img(src="/assets/images/stories/rectangle-33.png")
            span 追求最佳的佩戴
          a.item(href="/stories/best-skill")
            img(src="/assets/images/stories/rectangle-33-copy.png")
            span 追求最极致的工艺
          a.item(href="/stories/story-of-optic")
            img(src="/assets/images/stories/rectangle-33-copy-2.png")
            span 顶级的光学镜片
    article
      img.full-width(src="/assets/images/stories/rectangle-33-copy-2.png", alt="")
      h1 AKESO眼健康管家为您推荐世界顶级光学镜片的标准：
      h2 1.更优的光学设计：

      h3 先进的镜面光学设计提供出色的成像品质和宽阔的视力范围。
      p 在19世纪，奥斯特瓦尔德（Ostwald）和切尔宁（Tscherning）两位眼科医师首创以凹凸镜片设计，减低镜片边缘成像模糊的情况。蔡司公司的莫里茨•冯•罗尔教授（Moritz von Rohr）在1908年成功设计出可以将镜片边缘的模糊成像减到最低的镜点聚焦镜片。虽然最初的点聚焦镜片就能达到最佳的成像品质，但是镜片明显的弯曲影响了镜片的美观性。为了让镜片更加美观，出现了一种镜面接近平面的周视镜片。周视镜片总体来说的确更加平整美观，但是这种镜片的周边区域有严重的像差，而像差是影响人眼成像质量最重要的光学影响因素。

      h3 非球面表面设计的镜片
      p <b>非球面</b> 镜面设计，可以通过球形面偏移设计将斜射散光降至最低，其旋转对称、非球面的前表面，非球面单光镜片显示一个较平坦的前端曲率和<b>出色的视觉质量</b>。非环面是专为适应每个屈光度设计，让两条主要子午线能获得最好的校正效果，非环面是蔡司专属设计，是让具有散光度的单光镜片实现像差校正的最佳保证。另外，非球面表面设计的镜片会比同度数的球面单光镜片<b>更平更轻薄美观</b>。

      h2 2.更安全、舒适的镜片材料：
      h3 光学镜片：
      p 树脂镜片：是目前广泛成熟运用的一种优质镜片材质。
      p 　　优点：透视率达92%，较一般玻璃镜片高2%以上，光学性质极为稳定，无论在高温或低温中都不会产生变化。重量轻，减轻眼镜在配戴时的压迫感，使配戴更加舒适。耐冲击、不易破碎、就算是破碎后镜片也能成钝角。对紫外线的吸收要远比玻璃镜片强，尤其是天添加了抗紫外线元素以后。热传导性低，防止镜片不会出现雾气。
      p 　　缺点：表面耐磨力，抗化学能力比玻璃差，表面易划痕，吸水性比玻璃大，这些缺点可通过镀膜方法改善。因此我们推荐光学镜片使用经过特殊专业镀膜涂层加工的树脂镜片。
      h3 太阳及运动驾驶镜片：
      p <b>PC镜片</b>材质：要成分是聚碳酸酯，只有经过加热后才会形成镜片，所以这种镜片有极强的韧性，不容易破碎，被广泛应用于航空航天和军事领域。强度是玻璃镜片的60倍，是TAC镜片的20倍，是树脂镜片的10倍，被誉为世界上最安全的材料。
      p 　　优点：PC镜片秉承了原材料超级抗冲击力的优良特性，并且由于折射率高和比重轻，大大的减轻了镜片的重量；100%防紫外线，3-5年之内不会发黄。重量比普通树脂片轻37%，抗冲击力更是高达普通树脂的12倍。因其轻、安全，不容易破裂，所以较适合用于户外运动及驾驶镜片上。
      p 　　缺点：PC镜片由于密度比较小，所以不适用于高度近视的近视眼镜片；PC镜片不能受热，和玻璃镜片相比，耐高温性及耐磨性较差；而且PC镜片的色散比较大，阿贝数达到了33，所以相同镜片的度数比较厚。PC镜片由于自身的特性原因，使得在加工是需要特定的技术，而且工艺手段复杂，所以PC镜片相比其他镜片，价格要贵很多。

      h2 3.精工级别的生产工艺及质量控制：
      p 制造一片上佳质量的镜片需要经过不同阶段的加工过程，只有拥有尖端的技术、创新、精确和丰富的经验的生产厂家才能始终保持佩戴者品质如一的清晰视觉。只有通过特别选用的原材料单体，借助先进技术配合精密仪器在无尘车间内制造，其光学产品质量及性能得到可靠的保证。我们推荐使用的镜片品牌均为已得到世界眼视光专家广泛认可，具有镜片制造的精确工艺技术车间，且必须通过国际ISO质量控制体系的厂家。所有推荐的镜片均满足欧洲标准且通过 CE 认证。世界上顶尖的镜片生产厂家：德国卡尔蔡司，法国依视路，日本豪雅光学等



