extends ../layouts/responsive

block title
  title 关于我们 | AKESO

block requirejs
  script
    | requirejs(['/assets/js/application.js'], function(app){
    |  requirejs(['app/about_us']);
    | });

block content
  article.container.margin-nav.page
    h3 公司简介
    p
      | 艾索健康科技(AKESO eyecare)是一家成立于2014年，由眼科学专业医学团队创立的专业视觉健康管理机构。我们的理念是将国人（近5-7亿屈光不正患者）日常最普遍使用的眼科工具——眼镜eyewear，与可穿戴健康设备、移动互联网、健康云端存储进行有机结合，为用户提供优质、便捷、精准的眼健康管理会员服务。艾索健康科技通过与世界顶级的眼科专业医疗机构及眼镜设计制造厂家合作，创立了全球首个智能健康眼镜框架品牌（AKESO eyewear）。本着医者的初心，我们认为一副高品质的好眼镜不仅应该满足用户对时尚、舒适、专业的要求，还应该帮助用户改善其视觉健康及形成健康的生活方式。
    p
      | 为此，AKESO eyewear创新性采用符合眼视光工程学的设计，最大限度保证佩戴视觉舒适度的同时。所有AK眼镜框架均可通过结合配套的可穿戴健康设备与健康管家APP监测用户的视觉健康及户外运动状态。AKESO eyewear结合不同人群的时尚及场景需求，推出了4个款式的眼镜框架系列（意大利板材款，日本纯钛款，凯夫拉防护运动款，檀木手制款）。
    p
      | 对于受眼健康问题困扰的用户，AKESO通过可穿戴设备分析收集用户长期的用眼习惯及环境数据，由背后强大的眼科专家医学团队，为用户提供专业有效的健康指导。同时，AKESO eyecare的会员更可享受由专业眼健康管理团队及线下合作视觉健康中心提供的家庭式视觉健康服务（预约验光，验配指导，眼科咨询，常见眼病体检筛查），
    p
      | AKESO首批成长版eyewear已于2015年获得欧盟CE认证，现正进行内测及线上预售，预计2016年年初正式发售，欢迎全国各地眼镜零售代理商及视觉健康中心共同合作，详情请关注官方微博http://weibo.com/akesoeyecare。——AKESO创意无限，专业支持！
    p
      | 利用移动互联网和智能健康科技，实现传统眼镜的健康消费升级。
    p AKESO eyecare = 互联网+眼镜+眼健康
    p
      | AKESO对眼镜的创新理念：通过创新商品组合，增加功能（可穿戴健康监测），增加服务（线上线下眼健康管理会员制服务），改变产品定位（把原来眼镜光学矫正工具及装饰品的属性，扩大到电子科技消费，健康消费），最终实现传统眼镜的消费升级