extends ../layouts/responsive

block title
  title 产品 | AKESO

block requirejs
  script
    | requirejs(['/assets/js/application.js'], function(app){
    |  requirejs(['app/production_detail']);
    | });

block content
  .page
    .detail-nav
      .container.clearfix
        .name.left
          | AKESO 1
        .items.right
          a.item.btn(href="/orders/new")
            span 立即预定
    .detail-page
      section#page-1
        .text
          .version
            img(src="/assets/images/detail/akeso_1.svg")
          .sub-title 眼镜，如此体贴。
      section#page-2
        .text
          .version 智能
          .title 
            | 紫外线、强光、眼周湿度、坐姿，
            br
            | 危害眼健康的每处风险，它都知道。
          .sub-title 你的眼睛无比重要，危害它的风险却无处不在。 我们创新性地将眼镜与智能硬件的融合，在细小的眼镜腿中装入数个传感器，实现了对相关数据的时时监测，让你对潜在的眼健康风险了如指掌。
      section#page-3
        .text
          .version 健康
          .title 
            | 专业的护眼指导，
            br
            | 效果显著的健康改善。
          .sub-title 健康是件大事，但改善健康需从小事做起。AKESO-1 的功能设计由眼科博士主导，能够对环境风险、疲劳程度、运动量等数据进行实时分析，并给出针对性的专业护眼指导，为你带来切实的眼健康改善。