extends ../layouts/responsive

block requirejs
  script
    | requirejs(['/assets/js/application.js'], function(app){
    |  requirejs(['app/production']);
    | });

block content
  #productionHeroArea.margin-nav
    .container
      h1.title 眼镜，从未如此创新。
      img.version(src="/assets/images/detail/akeso_1.svg")

      .actions
        a.button.blue(href="/detail")
          | 了解更多 
          +fa('angle-right')
        a.button.blue.inverted(href="/orders/new")
          | 立即预定
      img.banner(src="/assets/images/detail/index_03.png")
      

  .panel.videos
    .container
      a.video.has-modal(data-modal="video-1")
        img(src="/assets/images/prod-v-1.png" alt="")
        | 艾索的生活态度
      a.video.disabled
        img(src="/assets/images/prod-v-2.png" alt="")
        | 一副好眼镜背后的故事
      a.video.disabled
        img(src="/assets/images/prod-v-3.png" alt="")
        | 艾索与眼健康

  .modal#video-1
    a.close
      +fa('close')
    .player#youku
    script(src="http://player.youku.com/jsapi")
      | player = new YKU.Player('youku',{styleid: '0', client_id: '0cac65a381ef56c9',vid: 'XMTM3NTQ3OTI4OA==',autoplay: false,show_related: false});