.container {
	transition: left .6s, right .6s;
	display: block;
	margin: 0 auto;
	z-index: 100;
	//min-height: calc(100vh - 80px - 70px);

	&.small {
		width: 420px;
	}

	&.medium {
		width: 680px;
	}

	&.footer-in-page {
		min-height: 500px;
		height: calc(100vh - 80px - 126px);
	}

	&.page {
		min-height: calc(100vh - 80px);
	}
}

@media (min-width: 900px) {
	.margin-nav {
		margin-top: 80px;
	}
}



@media (max-width: 964px) {
	.container {
		width: 90%;
	}
}

@media (min-width: 965px) {
	.container {
		width: 960px;
	}
}

@media (min-width: 1280px) {
	.container {
		width: 1280px;
	}
}

.floated {
	&.right {
		float: right;
	}
	&.left {
		float: left;
	}
}

.aligned {
	&.center {
		text-align: center;
	}
	&.right {
		text-align: right;
	}
	&.left {
		text-align: left;
	}
}

@media (max-width: 600px) {
	.container {
		width: 90%;
	}
}

body>.container {
	@extend .clearfix;
}
