footer {
	padding: 40px 0;
	background-color: #2a2a2a;
	
	.left {
		float: left;
	}	

	.right {
		float: right;
		text-align: right;
	}

	.mute {
		color: #8e8e8e;
	}

	.info {
		color: #fff;
		font-size: 12px;
		display: inline-block;
		vertical-align: top;

		.tab {
			display: inline-block;
			vertical-align: top;
			width: 80px;


			.title {
				font-size: 14px;
				margin-bottom: 7px;
				display: block;
			}

			.subtitle {
				display: block;
				font-size: 12px;
				line-height: 20px;
			}
		}
		
		a, p {
			line-height: 23px;
			opacity: .7;
		}
		p {
			margin: 0;
			padding: 0;
		}

		a:hover, a:active {
			opacity: 1;
			cursor: pointer;
		}
		.qrcode, .actions {
			float: right;
		}
		.qrcode {
			width: 80px;
		}

		.actions {
			margin-left: 22px;
			width: 120px;
			.action {
				width: 100%;
				display: block;
				font-size: 12px;
				line-height: 17px;
				padding: 5px;
				color: #9b9b9b;
				text-align: center;
				background-color: #565656;
				margin-bottom: 5px;

				transition: color .4s, background-color .4s;
				&:hover, &:active {
					color: #fff;
					background-color: lighten(#565656, 10%);
				}
			}

		}
	}


	#cnzz {
		display: block;
		opacity: 0 !important;
		position: fixed;
		bottom: -100px;
		left: -100px;
	}
}

@media (max-width: 600px) {
	footer {
		.left, .right {
			float: none;
		}
	}
}