/*
	Author: Cassius Chen
	Created At: 2015-10-30
*/

$nav_bgColor: $ak_blue;
$nav_height: 80px;
$nav_color: #fff;

nav.navbar {
	z-index: 10000;
	background-color: $nav_bgColor;
	height: $nav_height;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	color: $nav_color;
	font-size: 0;
	
	.title-area {
		display: inline-block;
		vertical-align: middle;

		.logo {
			height: 30px;
			width: 135px;
			display: inline-block;
			background-image: url(/assets/images/logo-white.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	.hover-menu {
		display: none !important;
		position: absolute;
		top: ($nav_height + 36px);
		width: 100%;
		transform: translateY(-20px);
		opacity: 0;

		&.show {
			display: block !important;
			transform: translateY(0px);
			opacity: 1;
		}

		.types {
			background-color: rgba(255,255,255,.95);
			backdrop-filter: blur(7px);
			border-radius: 5px;
			height: 300px;
			display: flex;
			justify-content: space-around;
			font-size: 0;
			padding: 20px 40px;

			.type {
				height: 100%;
				font-size: 18px;
				color: #272727;
				text-align: center;
				img {
					margin-top: 35px;
					display: block;
					margin-bottom: 50px;
					width: 80%;
					margin-left: auto;
					margin-right: auto;
				}

				&:hover, &:active {
					color: $darker_blue;
					cursor: pointer;
					img {
						transform: scale(1.05);
					}
				}
			}
		}
	}
}

@media (min-width: 640px) {
	nav.navbar, .detail-nav {
		.mobile-menu-button {
			display: none;
		}

		.navbar-section {
			height: 100%;
			padding: 28px 0;
			width: calc(100% - 162px);
			display: inline-block;
			vertical-align: middle;


		}

		.items {
			* {
				transition: all .28s ease-in;
			}
			position: relative;
			font-size: 0;
			padding: 0 10px;
			&.left {
				float: left;
			}

			&.right {
				float: right;
			}

			.item {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				padding: 0 40px;
				margin: 0;
				font-size: 16px;
				opacity: .7;
				text-shadow: 0 2px 2px rgba(55,55,55,.5);

				&:hover, &.active, &:active {
					opacity: 1;
					cursor: pointer;

					span {
						border-bottom: 2px solid #fff;
					}
				}

				span {
					padding: 6px 0;
				}

				&.disabled, &.disabled:hover, &.disabled:active {
					opacity: .2;
					cursor: not-allowed;
				}

				&.btn {
					padding: 0 25px;
					span {
						background-color: rgba(255,255,255,.2);
						border-radius: 5px;
						padding: 5px 15px;
					}

					&:hover, &:active, &.active {
						span { border-bottom: none !important; }
					}
				}
				
			}

			&.underline {
				.item:hover, .item:active, .item.active {
					span {
						border-bottom: none !important;
					}
				}
				.animated-line {
					display: block;
					margin: 0;
					position: absolute;
					bottom: -6px;
					height: 2px;
					background-color: #fff;

				}
			}
		}
	}
}

@media (max-width: 600px) {
	nav.navbar {
		.title-area {
			width: 100%;
			text-align: center;
			padding: 25px 0;
			.logo {
				height: 30px;
				width: 60%;
			}
		}
		.navbar-section {
			display: none;
		}
	}
}